<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958399757232-dj3q5vu9fdsstsbbav66r9cfkfb8r241.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958399757232-dj3q5vu9fdsstsbbav66r9cfkfb8r241</string>
	<key>API_KEY</key>
	<string>AIzaSyCNGjNgLedFoUa-4W2g0NYWCDcZW-LtssM</string>
	<key>GCM_SENDER_ID</key>
	<string>958399757232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boluga.businesscalculator</string>
	<key>PROJECT_ID</key>
	<string>wedge-545c8</string>
	<key>STORAGE_BUCKET</key>
	<string>wedge-545c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958399757232:ios:5ec462bfa9d1444e67f475</string>
	<key>DATABASE_URL</key>
	<string>https://wedge-545c8.firebaseio.com</string>
</dict>
</plist>